*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
h1 { 
    text-align: right;
    height: 50px;
    padding: 10px; 
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
    background: rgb(215, 240, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
.foto1 {

    width: 260px;
    height: 230px;
    border: 4px solid #6e9eaa;
}
.foto2 {

        width: 260px;
        height: 230px;
        border: 4px solid #6e9eaa;
    }
.foto3 {

        width: 260px;
        height: 230px;
        border: 4px solid #6e9eaa;
    }
.listas {
    padding: 60px;
    font-size: 20px;
}
.photos { 
    display: flex;
    justify-content: space-between;
}
.botao1 {  
    margin: 20px;
    font-size: 30px;
    width: 210px;
    height: 130px;
    background: #8ddbee;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5); 
}
.botao2 {  
    margin: 20px;
    font-size: 30px;
    width: 210px;
    height: 130px;
    background: #8ddbee;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5); 
}
.botao3 {  
    margin: 20px;
    font-size: 30px;
    width: 210px;
    height: 130px;
    background: #8ddbee;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5); 
}
.botaos { 
    display: flex;
    justify-content: space-between;
   
}